<!DOCTYPE html>
<html lang="es">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/datatables.min.css') }}">
  <script type="text/javascript" src="{{ url_for('static',filename='js/datatables.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.dataTables.min.js') }}"></script>
  <script>
    $(document).ready(function () {
      $('#example').DataTable({
        "language": {
          "url": "http://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
        }
      });
    });
  </script>
</head>

<body>

  <!--
<div class="jumbotron text-center" style="background-color:#5CA935;">
  <h1 style="color:white;">Proyecto ASSI-Support</h1>
  <p style="color:white;">#SomosClientes</p> 
</div>
    
-->

  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #4c8ee0;">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <br>


  <div class="container">

    <form action="http://localhost:5000/execute" method="POST">
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" name="msgid" placeholder="Enter the Msgid">
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary mb-2">Search <svg class="bi bi-search" width="1em" height="1em"
              viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                clip-rule="evenodd" />
              <path fill-rule="evenodd"
                d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                clip-rule="evenodd" />
            </svg></button>
        </div>
      </div>
    </form>



    {% for message in data %}
    

    {% endfor %}


    <div class="container">
      <table id="example" class="table table-striped" style="width:100%">
        <thead class="thead-dark">
          <tr>
            <th>MsgId</th>
            <th>Type Message</th>
            <th>Service Code</th>
            <th>Version Message</th>
            <th>Date Transacction</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>

          {% for item in data %}
          <tr>
            <td>{{item[0]}}</td>
            <th>{{item[1]}}</th>
            <th>{{item[2]}}</th>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            <td>

              <!-- The Modal -->
                <div class="modal" id="myModal{{ item[2] }}">
                  <div class="modal-dialog modal-dialog-scrollable modal-xl">
                    <div class="modal-content">

                      <!-- Modal Header -->
                      <!-- EM30_A0001_v2_7afccd184bfa_10022020 -->
                      <div class="modal-footer">
                        <h2>Event Message {{ item[2] }}</h2>
                        <button type="button" class="btn btn-info" data-dismiss="modal"
                          onclick="download('{{ item[2] }}.txt','eventMessage {{ item[2] }}')">Download</button>
                        <button type="button" class="btn btn-dark" data-dismiss="modal"
                          onclick="copyText('eventMessage {{ item[2] }}')">Copy</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <!-- <h1 class="modal-title">Modal Heading {{ idx }}</h1> -->
                        <!-- <button type="button" class="close" data-dismiss="modal">×</button> -->
                      </div>

                      <!-- Modal body -->
                      <div class="modal-body">
                        <textarea id="eventMessage {{ item[2] }}" cols="135" rows="50" style="overflow-y:hidden"
                          readonly>{{item[8]}}</textarea>
                      </div>
                    </div>
                  </div>

                </div>

              <button type="button" class="btn btn-info" data-toggle="modal"
                data-target="#myModal{{ item[2] }}">ViewMessage</button>
             

              </td>
          </tr>

          {% endfor %}

        </tbody>
        <tfoot>
          <tr>
            <th>MsgId</th>
            <th>Service</th>
            <th>Version</th>
            <th>Event</th>
            <th>Date</th>
            <th>Mensaje</th>
          </tr>
        </tfoot>
      </table>
    </div>


    <script type="text/javascript">

      function download(file, idElement) {

        content = document.getElementById(idElement).value;
        //creating an invisible element 
        var element = document.createElement('a');
        element.setAttribute('href', 'data:text/plain;charset=utf-8,'
          + encodeURIComponent(content));
        element.setAttribute('download', file);

        //the above code is equivalent to 
        // <a href="path of file" download="file name"> 
        document.body.appendChild(element);

        //onClick property 
        element.click();
        document.body.removeChild(element);
      }


      function copyText(idElement) {

        /* Get the text field */
        var copyText = document.getElementById(idElement);

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

        document.execCommand("copy");

        alert("Copied the text");

      }



    </script>

</body>

</html>